body {
    background: #ffffff;
}
.header-option{
    float:right;
    padding: 0 20px 0 20px;
}
.header-option:hover{
    color:#eb4b4b;
}
.header-login {
    float: right;
    border: 2px solid #fff;
    border-radius: 2px;
    height: 30px;
    margin: 24px 20px 0 20px;
    line-height: 26px;
    padding: 0 10px;
}
.header-login:hover {
    background: #ffffff;
	color: #091827;
}
